html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
}
.app button {
  width: 90px;
  height: 36px;
}

.app button {
  display: block;
  margin: 30px auto;
}

.board {
  border-collapse: collapse;
  border-spacing: 0;
  border-bottom: 1px solid #999;
  border-left: 1px solid #999;
  background-color: #ccc;
}
.board tr td {
  width: 40px;
  height: 40px;
  border-top: 1px solid #999;
  border-right: 1px solid #999;
}
.black_block {
  background-color: #000;
}
.white_block {
  background-color: #fff;
}